.container {
    display: flex;
    justify-content: center;
}

.calculator{
    background-color: black;
    max-width: 700px;

}

.number {
    background-color: lightgray;
}

.clear, .sign, .operator{
    background-color: orange;
}

input[type = "button"]{
    width: 100%;
    font-size: 24px;
    border-radius: 5px;
}