*{
    box-sizing: border-box;
}

body{
    background-image: url("./media/background.jpg");
    background-position: center;
    background-size: cover;
}

.calculator{
    background-color: black;
    border-radius: 15px;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.row{
    display: flex;
    padding: 3px;
    margin: 0;
    gap: 3px;
}

.display {
    font-size: 30px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 15px;
    height: 100px;
}

.number {
    background-color: lightgray;
}

.clear, .sign, .operator{
    background-color: orange;
}

input[type = "button"]{
    font-size: 24px;
    border-radius: 15px;
    flex: 1;
    padding: 10px 0px;
    height: 100px;
}

#zerodiv{
    flex-grow: 2;
    padding-right: 6px;
}
